@font-face {
  font-family: 'RightGrotesk-CompactBlack';
  font-weight: 900;
  font-style: normal;
  src: url(../fonts/RightGrotesk-CompactBlack.otf) format('opentype');
}

@font-face {
  font-family: 'BiroScriptPlus';
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/BiroScriptPlus.ttf) format('truetype');
}

@font-face {
  font-family: 'MessinaSansMono-Regular';
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/MessinaSansMono-Regular.ttf) format('truetype');
}

:root {
  font-size: 16px;
  --tra: 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: 'MessinaSansMono-Regular', sans-serif;
  background-color: #181818;
}

h1,
h2,
h3,
p {
  margin-block: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.no-scroll {
  overflow: hidden;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.page-header {
  position: relative;
  border-bottom: 1px solid red;
}

.header-container {
  margin-inline: auto;
  padding-inline: 15px;
  width: 100%;
}

@media screen and (min-width: 480px) {
  .header-container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .header-container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1280px) {
  .header-container {
    max-width: 1280px;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  padding: 11px;
  color: #181818;
  background-color: #fff;
}

@media screen and (max-width: 767px) {
  .nav-list {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 20px;
    text-align: center;
    background-color: palegoldenrod;
    z-index: 2;
  }

  .nav-list.is-open {
    display: block;
  }

  .nav-list_item:not(:last-child) {
    margin-bottom: 20px;
  }

  .nav-link {
    color: black;
  }
}

@media screen and (min-width: 768px) {
  .nav-list {
    display: flex;
    gap: 20px;
    flex-grow: 1;
    justify-content: center;
  }

  .nav-link {
    color: #fff;
  }
}

.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  color: white;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.icon {
  fill: currentColor;
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

/* ---radio buttons--- */

.section {
  padding-block: 40px;
}

.container {
  margin-inline: auto;
  padding-inline: 72px;
  width: 100%;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-inline: 88px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-inline: 124px;
  }
}

.list {
  margin-inline: auto;
}

.input {
  position: absolute;
  appearance: none;
}

.label {
  position: relative;
  display: flex;
  justify-content: flex-end;
  padding-block: 18px;
  padding-right: 18px;
  background-color: transparent;
  border-radius: 1rem;
  cursor: pointer;
  transition: background-color var(--tra);
}

.input:checked + .label {
  background-color: #1e1e1e;
  cursor: default;
}

.input:focus ~ .label {
  outline: 2px solid #63ddf8;
}

.label::before {
  content: '[ 1 ]';
  margin-right: 21px;
  padding-top: 5px;
  font-family: 'BiroScriptPlus';
  color: #dc3b5a;
  transition: color var(--tra);
}

.input:hover + .label::before,
.input:checked + .label::before {
  color: #fff;
}

.item:nth-child(2) > .label::before {
  content: '[ 2 ]';
}

.item:nth-child(3) > .label::before {
  content: '[ 3 ]';
}

.item:nth-child(4) > .label::before {
  content: '[ 4 ]';
}

@media screen and (max-width: 767px) {
  .image {
    display: none;
  }
}

.image {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 148px;
  border-radius: 1rem;
  transform-origin: 40px 14px;
  rotate: -16deg;
  opacity: 0;
  pointer-events: none;
}

.input:checked + .label > .image {
  opacity: 1;
  pointer-events: auto;
}

.text-group {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 335px;
}

.question {
  font-family: 'RightGrotesk-CompactBlack';
  font-size: 2rem;
  line-height: 1;
  color: #fff;
  text-transform: uppercase;
  transition: color var(--tra);
}

.label:hover .question,
.input:checked + .label .question {
  color: #dc3b5a;
}

.answer {
  position: absolute;
  font-size: 0.75rem;
  line-height: 1.17;
  color: #fff;
  text-transform: uppercase;
  opacity: 0;
}

.input:checked + .label .answer {
  position: inherit;
  opacity: 1;
}

/* ---box-set--- */

.box-set > li {
  padding-block: 15px;
  font-size: 2rem;
  text-align: center;
  color: #fff;
  background-color: teal;
  border-radius: 4px;
}

@media screen and (max-width: 767px) {
  .box-set > li:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 768px) {
  .box-set {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }

  .box-set > li {
    flex-basis: calc((100% - 10px) / 2);
  }
}

@media screen and (min-width: 1280px) {
  .box-set > li {
    flex-basis: calc((100% - 2 * 10px) / 3);
  }
}
