@font-face {
  font-family: 'RightGrotesk-CompactBlack';
  font-weight: 900;
  font-style: normal;
  src: url(../fonts/RightGrotesk-CompactBlack.otf) format('opentype');
}

@font-face {
  font-family: 'BiroScriptPlus';
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/BiroScriptPlus.ttf) format('truetype');
}

@font-face {
  font-family: 'MessinaSansMono-Regular';
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/MessinaSansMono-Regular.ttf) format('truetype');
}

:root {
  font-size: 16px;
}

body {
  font-family: 'MessinaSansMono-Regular', sans-serif;
}

h1,
h2,
h3,
p {
  margin-block: 0;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

textarea {
  resize: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.section {
  padding-block: 30px;
}

.container {
  margin-inline: auto;
  padding-inline: 88px;
  width: 768px;
}

.list {
  margin-inline: auto;
}

.input {
  position: absolute;
  appearance: none;
}

.input:checked ~ .label {
  cursor: default;
}

.input:focus ~ .label {
  outline: 2px solid #000;
}

.label {
  display: flex;
  background-color: #1e1e1e;
  border-radius: 1rem;
  cursor: pointer;
}

.label::before {
  content: '[ 1 ]';
  margin-right: 21px;
  font-family: 'BiroScriptPlus';
  color: #fff;
}

.image {
  width: 148px;
  border-radius: 16px;
}

.text-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  width: 335px;
}

.question {
  font-family: 'RightGrotesk-CompactBlack';
  font-size: 2rem;
  line-height: 1;
  color: #dc3b5a;
  text-transform: uppercase;
}

.answer {
  font-size: 0.75rem;
  line-height: 1.17;
  color: #fff;
  text-transform: uppercase;
}
